@using PlanetariumService.Models
@model LoginUI

@{
    ViewData["Title"] = "Sign In";
    ViewData["CSS"] = "~/css/system.css";
    ViewData["Head"] = "<link rel=\"stylesheet\" type=\"text/css\" href=\"/css/signin.css\" />";
}

<h1>Sign in</h1>
<main>
    <section id="solar-system">
        <div id="sun"></div>
        <article id="mercury-trajectory">
            <div id="mercury"></div>
        </article>
        <article id="venus-trajectory">
            <div id="venus"></div>
        </article>
        <article id="earth-trajectory">
            <div id="earth"></div>
        </article>
        <article id="mars-trajectory">
            <div id="mars"></div>
        </article>
    </section>
    <div class="form">
        <h3>Welcome back!</h3>
        <form asp-action="Login">
            @*<div asp-validation-summary="ModelOnly"></div>*@
            <input type="text" asp-for="Login" name="Login" placeholder="Username or email" required><br>
            @if (TempData["LoginError"] != null)
            {
                <label>@TempData["LoginError"]</label>
            }
            <input type="password" asp-for="Password" name="Password" placeholder="Password" required>
            @if (TempData["PasswordError"] != null)
            {
                <label>@TempData["PasswordError"]</label>
            }
            <small><a href="#">Forgot password?</a></small>
            <button class="submit" type="submit" name="Submit">Sign in</button>
            <small>Dont have an account yet? <a asp-area="" asp-controller="Auth" asp-action="SignUp">Sign up</a></small>
        </form>
    </div>
</main>
@*<script>
    let inputs = document.querySelectorAll('input');
    let button = document.querySelector('button[type="submit"]');
    button.disabled = true

    for (i = 0; i < inputs.length; i++) {
        inputs[i].addEventListener('input', () => {
            let values = []
            inputs.forEach(v => values.push(v.value))
            button.disabled = values.includes('')
        })
    }
</script>*@