@{
    ViewData["Title"] = "Add posters";
    ViewData["CSS"] = "~/css/system.css";
}

<h1>Sign in</h1>
<main>
  <section id="solar-system">
    <div id="sun"></div>
    <article id="mercury-trajectory">
      <div id="mercury"></div>
    </article>
    <article id="venus-trajectory">
      <div id="venus"></div>
    </article>
    <article id="earth-trajectory">
      <div id="earth"></div>
    </article>
    <article id="mars-trajectory">
      <div id="mars"></div>
    </article>
  </section>
  <div class="form">
    <h3>Welcome back!</h3>
    <form method="POST" action="">
      <input type="text" name="login" placeholder="Username or email">
      <input type="password" name="login" placeholder="Password">
      <small><a href="#">Forgot password?</a></small>
      <button>Sign in</button>
      <small>Dont have an account yet? <a href="#">Sign up</a></small>
    </form>
  </div>
</main>