@using PlanetariumService.Models
@model RegisterUI

@{
    ViewData["Title"] = "Sign Up";
    ViewData["CSS"] = "~/css/system.css";
    ViewData["Head"] = "<link rel=\"stylesheet\" type=\"text/css\" href=\"/css/signin.css\" />";
}

<h1>Sign up</h1>
<main>
    <section id="solar-system">
        <div id="sun"></div>
        <article id="mercury-trajectory">
            <div id="mercury"></div>
        </article>
        <article id="venus-trajectory">
            <div id="venus"></div>
        </article>
        <article id="earth-trajectory">
            <div id="earth"></div>
        </article>
        <article id="mars-trajectory">
            <div id="mars"></div>
        </article>
    </section>
    <div class="form">
        <h3>Create an account</h3>
        <form asp-action="Register">
            @*method="POST" action=""*@
            <input asp-for="Email" type="email" name="Email" placeholder="Email" required>@*asp-for="email"*@
            @if (TempData["EmailError"] != null)
            {
                <label>@TempData["EmailError"]</label>
            }
            @*<span asp-validation-for="email"></span>*@
            <input asp-for="Username" type="text" name="Username" placeholder="Username" required>@*asp-for="username"*@
            @if (TempData["UsernameError"] != null)
            {
                <label>@TempData["UsernameError"]</label>
            }
            <input asp-for="UserPassword" id="pwd" type="password" placeholder="Password" required>@*asp-for="pwd"*@
            @*@if (TempData["PasswordError"] != null)
            {
                <label>@TempData["PasswordError"]</label>
            }*@
            <input id="pwdconfirm" type="password" placeholder="Confirm Password" required>
            <label for="pwd"></label>
            <button type="submit" class="submit" aria-disabled="true" name="Submit">Sign up</button>
            <small><a asp-area="" asp-controller="Auth" asp-action="SignIn">Already have an account?</a></small>
            <div class="smallest">
                By signing up you agree to the terms of the Service Agreement and<br> the Galaxy Planetarium
                Privacy Policy.
            </div>
        </form>
    </div>
</main>
<script>
    let button = document.querySelector('button[type="submit"]');
    function check() {
        if (document.getElementById('pwd').value == document.getElementById('pwdconfirm').value && 
        document.getElementById('pwd').value != '') {
            document.querySelector('label[for="pwd"]').style.color = 'green';
            document.querySelector('label[for="pwd"]').innerText = 'Correct';
            button.disabled = false;
        } else if (document.getElementById('pwd').value == '' || document.getElementById('pwdconfirm').value == ''){
            document.querySelector('label[for="pwd"]').innerText = '';
        } else {
            document.querySelector('label[for="pwd"]').style.color = 'red';
            document.querySelector('label[for="pwd"]').innerText = 'Passwords are not matching';
            button.disabled = true;
        }
    }
    document.getElementById('pwd').onkeyup = check;
    document.getElementById('pwdconfirm').onkeyup = check;
    /*$('#pwd, #pwdconfirm').on('keyup', function () {
        if ($('#pwd').val() == $('#pwdconfirm').val() && $('#pwd').val() != "" && $('#pwdconfirm').val() != "") {
            $('span[for="pwd"]').text('Correct').css('color', 'green');
        } else if ($('#pwd').val() == "" && $('#pwdconfirm').val() == "") {
            $('span[for="pwd"]').text('');
        } else
            $('span[for="pwd"]').text('Passwords Not Matching').css('color', 'red');
        }
    });*/
    /*let inputs = document.querySelectorAll('input');
    let button = document.querySelector('button[type="submit"]');
    button.disabled = true

    for (i = 0; i < inputs.length; i++) {
        inputs[i].addEventListener('input', () => {
            let values = []
            inputs.forEach(v => values.push(v.value))
            button.disabled = values.includes('')
        })
    }*/
</script>