@{
    ViewData["Title"] = "Add posters";
    ViewData["CSS"] = "~/css/system.css";
    ViewData["Head"] = "<link rel=\"stylesheet\" type=\"text/css\" href=\"/css/signin.css\" />";
}
<h1>Sign up</h1>
<main>
    <section id="solar-system">
        <div id="sun"></div>
        <article id="mercury-trajectory">
            <div id="mercury"></div>
        </article>
        <article id="venus-trajectory">
            <div id="venus"></div>
        </article>
        <article id="earth-trajectory">
            <div id="earth"></div>
        </article>
        <article id="mars-trajectory">
            <div id="mars"></div>
        </article>
    </section>
    <div class="form">
        <h3>Create an account</h3>
        <form method="POST" action="">
            <input type="email" name="email" placeholder="Email">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="pwd" placeholder="Password">
            <input type="password" name="pwdconfirm" placeholder="Confirm Password">
            <button class="submit">Sign up</button>
            <small><a asp-area="" asp-controller="Auth" asp-action="SignIn">Already have an account?</a></small>
            <div class="smallest">
                By signing up you agree to the terms of the Service Agreement and<br> the Galaxy Planetarium
                Privacy Policy.
            </div>
        </form>
    </div>
</main>