/*html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

div label input {
    margin-right: 100px;
}

body {
    font-family: sans-serif;
}

.ticket {
    margin: 4px;
    background-color: #104068;
    border-radius: 4px;
    border: 1px solid #fff;
    overflow: hidden;
    float: left;
}

    .ticket label {
        float: left;
        line-height: 3.0em;
        width: 45px;
        height: 55px;
    }

        .ticket label span {
            text-align: center;
            padding: 3px 0;
            display: block;
        }

        .ticket label input {
            position: absolute;
            display: none;
            color: #fff !important;
        }

            .ticket label input + span {
                color: #fff;
            }


    .ticket input:checked + span {
        color: #ffffff;
        text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    }

.action input:checked + span {
    background-color: #F75A1B;
}

.stopped input + span {
    background-color: #808080;
}
*/