@{
    ViewData["Title"] = "Add posters";
    ViewData["CSS"] = "~/css/home.css";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<footer>
    <div>
        <h6>Galaxy Planetarium</h6>
        <p>
            © 2022 Galaxy Planetarium. All rights reserved. All trademarks are property of their respective owners in the
            Ukraine and other countries.
        </p>
    </div>
    <div>
        <h6>Contacts</h6>
        <div class="icons">
            <a class="icon" href="https://github.com/Monsotya/Planetarium"><img src="~/img/GitHub.svg" alt=""></a>
            <a class="icon" href="https://t.me/simonsatana"><img src="~/img/Telegram.svg" alt=""></a>
        </div>
    </div>
</footer>